$mobile-minimum: 375px;
$mobile-small: 480px;
$mobile-medium: 640px;
$mobile: 767px;
$tablet-minimum: 768px;
$tablet-small: 920px;
$tablet-medium: 1024px;
$tablet: 1280px;
$desktop-minimum: 1320px;
$desktop-small: 1366px;
$desktop-medium: 1480px;
$desktop-large: 1820px;
$desktop: 1920px;
